<!DOCTYPE html>
<html>
<head>
	<title>Curriculum</title>
	<meta charset='utf-8'>

	<!-- Use Lato & PT Sans font -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,100,700,300italic,300,400italic,100italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

	<!-- Use this style -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/cv-style.css" />

	<!-- For nice icons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<div class="section page" id="pdf">
		<div class="left">
			<div class="panel">
				<h1>Guillaume VILLEREZ</h1>

				<!-- Contact information -->
				<div class="personal-information">
					<ul>
						<li>
							<span class="fa fa-map-marker"></span>
							Deuil-La-Barre, Val-d'Oise
						</li>
						<li>
							<span class="fa fa-envelope-o"></span>
							<a href="mailto:guillaume@villerez.fr">guillaume@villerez.fr</a>
						</li>
						<li>
							<span class="fa fa-phone"></span>
							06 14 86 60 21
						</li>
						<li>
							<span class="fa fa-external-link"></span>
							<a href="http://villerez.fr/">g.villerez.fr</a>
						</li>
						<li>
							<span class="fa fa-linkedin-square"></span>
							<a href="https://www.linkedin.com/in/villerez">linkedin.com/in/villerez</a>
						</li>
						<li>
							<span class="fa fa-github"></span>
							<a href="https://github.com/Vuzi">github.com/Vuzi</a>
							</li>
					</ul>
				</div>

				<!-- About -->
				<div class="zone">
					<h3>À propos</h3>
					<span class="about">
						<p>
						D'une nature curieuse et passionné depuis toujours par l'informatique et les nouvelles technologies,
						je termine actuellement un master en alternance afin de me former au plus proche du métier.
						</p>
					</span>
				</div>

				<!-- Languages -->
				<div class="zone">
					<h3>Langues</h3>
					<span class="languages">
						<ul>
							<li>Anglais, professionnel<br/>(TOEIC 970/990)</li> 
						</ul>
					</span>
				</div>

				<!-- Hobbies -->
				<div class="zone">
					<h3>Centres d’intérêt</h3>
					<span class="hobbies">
						<ul>
							<li>Jeux vidéo (Modding)</li>
							<li>Cinéma et séries</li>
							<li>Nouvelles technologies</li>
							<li>Développement logiciel (projets personnels)</li>
						</ul>
					</span>
				</div>

				<!-- Hobbies -->
				<div class="zone">
					<h3>Vie associative</h3>
					<span class="hobbies">
						<ul>
							<li>Association de programmation à l’ESGI (2012-2013)</li>
							<li>Association 'code kata' à l’ESGI (2014)</li>
							<li>Cours de soutien en C/Java (2012-2013)</li>
							<li>Présentation Scala <i>Develloper Days</i> à l'ESGI</li>
						</ul>
					</span>
				</div>

			</div>
		</div>
		<div class="right">
			<div class="panel">
				<!-- Skills -->
				<div class="zone">
					<h1>Compétences</h1>
					<span class="skills">
						<ul>
							<li class="treeOnFor">Langage C</li>
							<li class="twoOnFor">C++ <span>(C++11)</span></li>
							<li class="forOnFor">Node.js <span>(Express, plugin)</span></li>
							<li class="forOnFor">Java <span>(SE et EE)</span></li>
							<li class="twoOnFor">Python <span>(2.7 et 3.5)</span></li>
						</ul>
						<ul class="skills">
							<li class="forOnFor">JavaScript <span>(React, jQuery)</span></li>
							<li class="treeOnFor">Android <span>(4/5/6)</span></li>
							<li class="treeOnFor">SQL <span>(MySQL, Oracle)</span></li>
							<li class="treeOnFor">NoSQL <span>(MongoDB)</span></li>
							<li>Notions en Haskell et en Scala</li>
						</ul>
					</span>
				</div>

				<!-- Professional experiences -->
				<div class="zone">
					<h1>Expérience professionnelle</h1>
					<div class="professional-experience">
						<span class="dates">2014 - Présent</span>
						<span class="company">Alter-Frame</span>
						<span class="status">Développeur</span>
						<p>
							<span>
								Développement d’un nouvel outil sur une suite logicielle de dimensionnement de batteries et d’alternateurs pour un constructeur automobile Français.
							</span>
							<span>
								Réalisation d’un audit de code sur une application de gestion de polices d’assurances pour un grand nom de l’assurance-crédit.
							</span>
								Réalisation d’une application de visualisation de données satellite (fichier) sur une projection en deux dimensions de la terre.
							</span>
						</p>
					</div>
					<div class="professional-experience">
						<span class="dates">2014 - Stage de 3 mois</span>
						<span class="company">Scality</span>
						<span class="status">Développeur</span>
						<p>
							Choix et mise en place d’un framework de tests unitaires dans une solution réalisée en C, avec adaptation des cibles de compilation, portage des tests existants, et ajout de nouveaux tests unitaires.
						</p>
					</div>
				</div>

				<!-- Educations -->
				<div class="zone">
					<h1>Formation</h1>
					<div class="education">
						<span class="dates">2014 - Présent</span>
						<span class="company">Master Architecture logicielle</span>
						<span class="status">ESGI</span>
						<p class="detail">Titre niveau I d'expert en ingénierie de l’informatique et des systèmes d’information</p>
					</div>
					<div class="education">
						<span class="dates">2011 - 2014</span>
						<span class="company">Bachelor Architecture logicielle</span>
						<span class="status">ESGI</span>
						<p class="detail">Titre niveau II de chef de projet logiciel et réseaux</p>
					</div>
					<div class="education">
						<span class="dates">2010</span>
						<span class="company">Baccalauréat</span>
						<span class="status">École notre Dame Providence</span>
						<p class="detail">Baccalauréat Scientifique - Mention assez bien</p>
					</div>
				</div>

				<!-- Projects -->
				<div class="zone">
					<h1>Projets personnels</h1>
					<div class="project">
						<span class="company">Raspi-sensor</span>
						<span class="status">Plugin Node.js C++</span>
						<span class="tags">
							<span>Rapsberry Pi</span>
							<span>C++</span>
							<span>Node.js</span>
						</span>
						<p>
							Plugin NodeJS réalisé en C++ permettant d’exploiter en JavaScript les informations de différents capteurs reliés à un RapsberryPi.
						</p>
						<span class="links">
							<a href="https://github.com/Vuzi/raspi-sensors" class="github">github.com/Vuzi/raspi-sensors</a>
							<a href="https://npmjs.com/package/raspi-sensors" class="npm">npmjs.com/package/raspi-sensors</a>
						</span>
					</div>
					<div class="project">
						<span class="tags">
							<span>React</span>
							<span>Electron</span>
							<span>Node.js</span>
						</span>
						<span class="company">Blackjack 23</span>
						<span class="status">Jeu de blackjack</span>
						<p>
							Application lourde utilisant Electron, avec React
							pour la construction de son interface et la gestion de ses intéractions utilisateur.
						</p>
						<span class="links">
							<a href="https://github.com/Vuzi/Blackjack-23" class="github">github.com/Vuzi/Blackjack-23</a>
						</span>
					</div>
					<div class="project">
						<span class="tags">
							<span>lex/yacc</span>
							<span>C</span>
						</span>
						<span class="company">Vuziks</span>
						<span class="status">Interpréteur & langage</span>
						<p>
							Langage de scripting et son interpréteur, réalisé en C avec Lex et Yacc. Gestion d'un mode intéractif, des conditions, boucles, fonctions et objets.
						</p>
						<span class="links">
							<a href="https://github.com/Vuzi/vuziks" class="github">github.com/Vuzi/vuziks</a>
						</span>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>

