<head>
    <title>g.villerez.fr</title>
    <meta charset='utf-8'>

    <meta name="viewport" content="width=device-width" />

    <!-- Use Lato & PT Sans font -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,700,300italic,300,400italic,100italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

    <!-- Use this style -->
    <link rel="import" href="https://www.polymer-project.org/0.5/components/paper-ripple/paper-ripple.html">
    <link rel="import" href="http://www.polymer-project.org/components/core-icons/core-icons.html">

    <link rel="stylesheet" type="text/css" href="/stylesheets/design.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>

    <!-- For nice icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
</head>
