<html>
{{ >header }}
<body>
  <div class="wrapper" >
    <main class="content" style="margin-left: auto">
      <section class="card" >
        <h2>Oups ! Une erreur est survenue </h2>
        <div class="zone">
          <p class="quote">{{message}}</p>
          <br/>
          <div style="text-align: center; width: 100%;">
            <a href="/">
              <div class="button less-important">
                <div class="center" fit="">Revenir au CV</div>
              </div>
            </a>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>
</html>