<head>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,700,300italic,300,400italic,100italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" type="text/css" href="css/style.css" />

  <!-- Unfurl -->
  <meta property="og:type" content="website" >
  <meta property="og:url" content="https://g.villerez.fr" >  
  <meta property="og:title" content="Guillaume Villerez | Architecte logiciel chez Zengularity" >
  <meta property="og:description" content="
    Curieux et passionné depuis toujours par l'informatique et les nouvelles technologies, 
    je travaille actuellement pour Zengularity après avoir terminé un master à l'ESGI dans 
    le domaine de l'architecture logicielle.
  " >
  <meta name="og:image" value="/img/og-image.jpg" >
  <meta name="twitter:label1" value="Linkedin" >
  <meta name="twitter:data1" value=" linkedin.com/in/villerez" >
  <meta name="twitter:label2" value="Github" >
  <meta name="twitter:data2" value=" github.com/Vuzi" >
  
  <!-- Mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">

  <title>Guillaume Villerez | CV</title>
</head>
