<html>
{{ >header }}
<body>
  <div class="wrapper" >
    <!-- Left fix panel -->
    <div class="aside-wrapper">
      <aside class="info card" >
        <div class="photo"></div>

        <!-- Infos -->
        <section>
          <div class="name" >
            {{ info.name }}
          </div>

          <div class="job" >
            {{ info.job }}
          </div>

          <div class="location" >
            {{ info.occupation }}
          </div>
        </section>

        <!-- Contact -->
        <section class="contact" >
          <h2>Me contacter</h2>
          <div>
            <ul>
              <li>
                <span class="fa fa-map-marker"></span>
                {{ info.location }}
              </li>
              <li>
                <span class="fa fa-envelope-o"></span>
                <a href="mailto:guillaume@villerez.fr">{{ info.mail }}</a>
              </li>
              <li>
                <span class="fa my-fa-linkedin-square"></span>
                <a href="https://www.{{ info.linkedin }}">{{ info.linkedin }}</a>
              </li>
              <li>
                <span class="fa fa-github"></span>
                <a href="https://{{ info.github }}">{{ info.github }}</a>
              </li>
            </ul>
          </div>
        </section>

        <!-- About me -->
        <section class="about">
          <h2>À propos de moi</h2>
          {{ #info.about }}
            <p>
              {{.}}
            </p>
          {{ /info.about }}
        </section>

        <div class="links" >
          <a href="curriculum-vitae/cv.html">
            <div class="button less-important">
              <div class="center" fit="">CV imprimable (HTML)</div>
              <paper-ripple fit=""></paper-ripple>
            </div>
          </a>
          <a href="curriculum-vitae/cv.pdf">
            <div class="button important">
              <div class="center" fit="">CV imprimable (PDF)</div>
              <paper-ripple fit=""></paper-ripple>
            </div>
          </a>
        </div>

      </aside>
    </div>

    <!-- Right moving panel -->
    <main class="content">
      <!-- Skills -->
      <section class="card" >
        <h2>Compétences</h2>
          <div class="skills">
            {{ #skills }}
              {{ #title }}<h3>{{ title }}</h3>{{ /title }}
              <ul>
                {{ #skills }}
                <li>
                  {{ tech }}
                  {{ #detail }}<span>{{ detail }}</span>{{ /detail }}
                  {{ #level }}
                    <div class="progress-bar" data-percent="{{ level }}">
                      <div style="width: {{ level }}%;"></div>
                    </div>
                  {{ /level }}
                </li>
                {{ /skills }}
              </ul>
            {{ /skills }}
        </div>
      </section>

      <!-- Experiences -->
      <section class="card" >
        <h2>Expérience professionnelle</h2>
        {{ #career }}
        <div class="zone">
          <span class="tag darker">{{ date }}</span>
          <img class="logo" src="/img/{{ logo }}" ></img>
          <span class="title">{{ company }}</span>
          <span class="after-title">{{ status }}</span>
          <div class="tags">
          {{ #tags }}
            <span class="tag">{{.}}</span>
          {{ /tags }}
          </div>
          <p class="quote">{{ quote }}</p>
          {{ #description }}
          <p class="description">{{.}}</p>
          {{ /description }}
        </div>
        {{ /career }}
      </section>

      <!-- Personal projects -->
      <section class="card" >
        <h2>Projets personnels</h2>
        {{ #projects }}
        <div class="zone">
          <span class="title">{{ title }}</span>
          <span class="after-title">{{ detail }}</span>
          <span>
            {{ #tags }}
            <span class="tag">{{.}}</span>
            {{ /tags }}
          </span>
          <p class="quote">{{ quote }}</p>
          {{ #description }}
            <p class="description">{{.}}</p>
          {{ /description }}

          <span style="text-align: center">
            {{ #links }}
            <a href="{{ href }}" class="img-link {{ type }}">{{ value }}</a>
            {{ /links }}
          </span>
        </div>
        {{ /projects }}
      </section>

      <!-- Cursus -->
      <section class="card" >
        <h2>Formation</h2>
        {{ #education }}
        <div class="zone">
          <span class="tag darker">{{ date }}</span>
          <span class="title">{{ diploma }}</span>
          <span class="after-title">{{ school }}</span>
          <p class="detail">{{ detail }}</p>
          {{ #quote }}
            <p class="quote">{{ quote }}</p>
          {{ /quote }}
          {{ #link }}
            <p class="link">
              <span class="fa fa-external-link"></span>
              <a href="{{ href }}">{{ value }}</a>
            </p>
          {{ /link }}
        </div>
        {{ /education }}
      </section>

      <!-- Associations -->
      <section class="card" >
        <h2>Vie associative</h2>
        {{ #associations }}
        <div class="zone">
          <span class="tag darker">{{ date }}</span>
          <span class="title">{{ title }}</span>
          <span class="after-title">{{ status }}</span>

          {{ #description }}
            <p class="description">{{.}}</p>
          {{ /description }}

          <span style="text-align: center">
          {{ #links }}
            <a href="{{ href }}" class="img-link {{ type }}">{{ value }}</a>
          {{ /links }}
          </span>
        </div>
        {{ /associations }}
      </section>

      <!-- Memoire -->
      <section class="card" >
        <h2>Mémoire de fin d'étude</h2>
        {{ #publications }}
        <div class="zone">
          <span class="tag darker">{{ date }}</span>
          <span class="title">{{ title }}</span>
          <p class="detail">{{ detail }}</p>

          {{ #description }}
            <p class="description">{{.}}</p>
          {{ /description }}

          {{ #link }}
            <p class="link">
              <span class="fa fa-external-link"></span>
              <a href="{{ href }}">{{ value }}</a>
            </p>
          {{ /link }}
        </div>
        {{ /publications }}
      </section>

      <!-- Languages -->
      <section class="card" >
        <h2>Langues</h2>
        <ul>
          {{ #languages }}
          <li> {{ lang }}, {{ level }} {{ certification }}</li>
          {{ /languages }}
        </ul>
      </section>
    </main>
  </div>
  <script type="text/javascript">
    $(function() {

      var $window = $(window);

      // Skillbar animation at startup
      $('.progress-bar').each(function(){
        $(this).children().width(0);
        $(this).children().animate({
          width : $(this).attr('data-percent') + '%'
        }, 1000);
      });
    });
</script>
</body>
</html>